<p id="notice"><%= notice %></p>

<%= image_tag @property.user_kra_url (:full) unless @property.user_kra.blank? %>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @property.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @property.bathrooms %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
<p><%= link_to 'Destroy', @property, method: :delete, data: { confirm: 'Are you sure?' } %></p>
